<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gdtech.scheduling.schedule.mapper.SubjectGroupCourseMapper">

    <select id="truncateTmpTable">
        truncate table subject_group_course_tmp
    </select>

    <insert id="batchInsertGroupCouseTmp">
        INSERT INTO subject_group_course_tmp  (act_id,lesson,subject_code,subject_code_group,stu_count,times )
         VALUES
        <foreach collection="list" item="item" index="index" open="(" separator="),("  close=")">
            #{item.actId},
            #{item.lesson},
            #{item.subjectCode},
            #{item.subjectCodeGroup},
            #{item.stuCount},
            #{item.times}
        </foreach>
    </insert>
</mapper>